doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700|Work+Sans:400,200,100,300,500,600,700,800,900', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href="/bower_components/animate.css/animate.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
